@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>Machine Overview</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

   <div class="main"> 
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>

        <div class="content px-4">
        @if (IsMachineListPage)
        {
            <Statistics />
        }
        </div>
         
   </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool IsMachineListPage;

    protected override void OnInitialized()
    {
        IsMachineListPage = Navigation.Uri.Contains("/machines");
        Navigation.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        IsMachineListPage = Navigation.Uri.Contains("/machines");
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= HandleLocationChanged;
    }

}